*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background-color: linen ;

}

.container{
    position: absolute;
    top: 80px;
    left: 350px;
    bottom: 50;
    
    
}
.border{
    margin-top: 2%;
    background-color: rgb(255, 0, 242);
    max-width: 90%;
    padding:60px; 
}
.outline{
    background-color: rgb(60, 255, 0);
    border: 2px solid #fff;
    padding: 50px ;
}
.margin{
    background-color: blue;
    border: 2px solid #fff;
    padding: 40px;
}
.padding{
    text-align: center;
    background-color: brown;
    border: 2px solid #fff;
    padding: 20px;
    /* width: 30%; */
    
}



